{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Blog Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
<!-- Custom styles for this template -->
<link href="{% static "css/blog.css" %}" rel="stylesheet" type="text/css" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script src="{% static "js/jquery-1.10.2.js" %}"></script>
	<script src="{% static "js/jquery-ui.js" %}"></script>
	<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
	<script src="{% static "js/bootstrap.min.js" %}"></script>

</head>

<body>
	<div class="blog-masthead">
		<div class="container">
			<nav class="blog-nav">
				<a class="blog-nav-item active" href="#">Home</a>
				<a class="blog-nav-item" href="#">New features</a>
			</nav>
		</div>
	</div>

	<div class="container transparent_background">

		<div class="blog-header">
			<h1 class="blog-title">Rover</h1>
			<p class="lead blog-description"></p>
		</div>

		<div class="row">

			<div class="col-sm-8 blog-main">
				
				{% block content %}
				{% endblock %}

			</div>
			<!-- /.blog-main -->

		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

	<div class="blog-footer">
		<p>
			Blog Footer
		</p>
		<p>
			<a href="#">Back to top</a>
		</p>
	</div>

</body>
</html>
